@import url(./assets/paper.css);



/*.flex-container{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  !*chamoise*!*/
/*  background-color: #FADCB1;*/
/*  !*background-color: rgb(239, 239, 239);*!*/
/*  color: darkblue;*/
/*}*/


/*.flex-item {*/
/*  order: 1;*/
/*}*/
