
.headline {
  /*background-image: url("build/assets/burgermenu-fasil.svg");*/
  display: inline;
  height: 1.5rem;

}

.headitem {
  height: 1.5rem;
  vertical-align: middle;
}

.burgermenu{
  border: blue solid 1px;
}

.headingtext{
  font-size: 1.5rem;
}
